pyrogram==1.4.16
tgcrypto
youtube-search
youtube-search-python==1.4.9
youtube_dl
py-tgcalls==0.8.1
python-dotenv
requests
aiohttp
aiofiles
asyncio
ffmpeg-python
pillow
future
psutil
wget
motor
pymongo
dnspython
heroku3
gitpython
pyyaml==5.3.1
speedtest-cli
